@import url(./__title/comments__title.css);
@import url(./__subtitle/comments__subtitle.css);
@import url(./__container/comments__container.css);
@import url(./__card/comments__card.css);
@import url(./__quote/comments__quote.css);
@import url(./__athor/comments__athor.css);
@import url(./__pic/comments__pic.css);
@import url(./__image/comment__image.css);
.comments {
    padding: 102px 48px;
}

@media screen and (max-width: 768px) {
    .comments {
        padding: 102px 0px;
    }
}

@media screen and (max-width: 450px) {
    .comments {
        padding-bottom: 48px;
        padding-top: 64px;
    }
}