.footer__link-element {
    font-size: 16px;
    line-height: 1.12;
}

@media screen and (max-width: 750px) {
    .footer__link-element {
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 425px) {
    .footer__link-element {
        font-size: 24px;
        line-height: 24px;
    }
    .footer__link-element:last-of-type {
        padding-bottom: 48px;
    }
}