.lead__title {
    color: white;
    text-align: center;
    font-size: 96px;
    line-height: 1.04;
    padding-bottom: 32px;
    font-weight: 900;
    margin-bottom: 0px;
    margin-top: 0px;
    margin: auto;
    width: 100%;
    max-width: 720px;
}

@media screen and (max-width: 750px) {
    .lead__title {
        font-size: 40px;
    }
}

@media screen and (max-width: 425px) {
    .lead__title {
        font-size: 40px;
        line-height: 1.1;
        padding-left: 0px;
        padding-bottom: 16px;
    }
}