.comments__card {
    max-width: 382px;
    width: 100%;
    margin-right: 19px;
}

.comments__card:last-child {
    margin-right: 0px;
}

@media screen and (max-width: 768px) {
    .comments__card {
        margin: auto;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
    }
    .comments__card:last-child {
        margin-right: auto;
        padding-bottom: 0px;
    }
}